/**
 *
 * ASSOCIAÇÃO DE usuarios E COLIGADAS AOS USUÁRIOS SOLICITANTES
 *
 * @desc        Estilo padrão do widget
 * @copyright   2017 upFlow.me
 * @version     1.0.0
 * @author      Helbert Campos <helbert@upflow.me>
 * @author      Marcos Basilio <marcos.basilio@upflow.me>
 *
 */
 
 .uF .unidades .lista-unidades li i.fa-check-circle {
    color: #3ABD81
}

.uF .panel * {
    -webkit-transition-duration: .6s;
    -moz-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s
}

.uF .panel .list-view-group-container.lista {
    padding: 32px 0 0
}

.uF .panel .list-view-fake-header,
.uF .panel .list-view-group-header {
    padding: 6px 15px
}

.uF .panel .list-view-group-header.selecao-geral {
    padding: 5px;
}

.uF .panel .form-group {
    margin-bottom: 0
}

.uF .panel .panel-body {
    max-height: 75vh;
    overflow: auto;
}

.uF .panel .list-view-group-header:not(.selecao-geral) {
    display: none
}

.uF .panel .list-view-group-container {
    padding: 0
}

.uF .panel .list-view.pesquisa-ativada .list-view-group-header:not(.selecao-geral) {
    display: block
}

.uF .unidades .lista-unidades li.selecionado i.fa-circle-o,
.uF .unidades .lista-unidades li:not(.selecionado) i.fa-check-circle {
    display: none
}

.uF .panel .list-view.pesquisa-ativada .list-view-group-container:not(.lista) {
    padding: 67px 0 0
}

.uF .marcas .lista-marcas li .exibir-unidades,
.uF .unidades .lista-unidades li .exibir-usuarios {
    cursor: e-resize
}

.uF .btn-icon-action {
    color: #3ABD81 !important;
    font-size: larger;   
    cursor: pointer; 	
}

.uF .btn-icon-action-small-green {
    color: #3ABD81 !important;
    font-size: larger;   
    cursor: pointer; 	
}

.uF .btn-icon-action-small-yellow {
    color: #b7930a !important;	
    font-size: larger;   
    cursor: pointer;
}

.uF .btn-icon-action-small-red {
    color: #d85c5c !important;	
    font-size: larger;   
    cursor: pointer;
}

.uF .btn-icon-action-small-black {
    color: #000000 !important;	
    font-size: larger;   
    cursor: pointer;
    opacity: 30%;
}

.uF .btn-icon-action-small-black:hover {
    color: #000000 !important;
    font-size: larger;
    cursor: pointer;
    opacity: 100%;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.3);	
}

.uF .a-icon-btn {
    padding: 0px;
    border: none;
}

.uF .uf-green-gradient {
    color: #fff !important;
    background: #3ABD81 !important;
}

.uF .uf-red-gradient {
    color: #fff !important;
    background: hsla(0, 67%, 59%, 0.568) !important;
}

/* The Modal (background) */
.uF .modal-uf {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100% !important; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Titulo */
.uF .modal-titulo {
    text-align: center !important;
    margin-bottom: 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

/* Modal Content */
.uF .modal-content-uf {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-top: 0px !important;
    border: 1px solid #888;
    width: 70%;
    height: 90%;
    box-shadow: 0 0 1px hsla(0deg,0%,0%,.075),0 1px 2px hsla(0deg,0%,0%,.075),1px 2px 4px hsla(0deg,0%,0%,.075),1px 3px 8px hsla(0deg,0%,0%,.075),2px 4px 16px hsla(0deg,0%,0%,.075);
    transform-origin: 0 1.5em;
    border-radius: 1em 1em 1em 1em;
    height: fit-content;
}

/* The Close Button */
.uF .close-uf {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.uF .close-uf:hover,
.uF .close-uf:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.uF .modal-btn-nf-uf {
    width: 10rem;
    height: 2rem;
    font-size: inherit !important;
}

.nav-tabs .nav-link {
   border:none !important;    
   color:#aaaaaa;
   padding: 1rem;    
   text-decoration: none;
   font-family: Open Sans, sans-serif;
   text-transform: none;
}

.nav-tabs .nav-link.active {
   border:none !important;    
   color: #3ABD81;
   padding: 1rem;
   font-size: x-large;
   text-decoration: none;
}

.nav-tabs>li.active>a {
   color: #4fbc08 !important;
   border-bottom: 3px solid #4fbc08 !important; 
}

.group-form-uf {
   border: solid 0.1rem #ddd;
   border-radius: 0.5rem;
   padding-top: 1rem;
   margin-top: 1rem;
   box-shadow: 0px 0px 4px 0.5px #dddddd;
}

.p-title {    
   padding: 7px 0;
   color: #000;
   font-size: 1rem;
   font-weight: bold;
   border-radius: 0.1rem;   
}

.p-title strong{
   font-family: 'Lato', Arial, sans-serif !important;
}

.blink_me {
   animation: blinker 1s linear infinite;
   color: rgb(35, 199, 35);
}

@keyframes blinker {
   50% {
       opacity: 0;
   }
}

.dataTables_filter input[type=search]{
   border-radius: 0.5em !important;
   background: url(../images/flaticon-search.png) no-repeat right;
   background-size: 20px;	
}

.table {
   margin-bottom: 0px !important;
}

.table th {
   color: black !important;
   background-color: #D5D5D5D5 !important;    
   font-weight: bold !important;
   text-align: center !important;
   border: 0px !important;
}

@media screen and (min-width: 800px) {
   .table td:first-child {    
      text-align: left !important;
   }
}

.table tbody {
   background-color: #FFFFFF;
   text-align: center !important;
   border-radius: 1rem !important;
   border: transparent !important;
}

.table tr {
   border-radius: 1rem !important;
   border: transparent !important;
}

.table th:first-child {
   text-align: left !important;
   border-radius: 10px 0 0 10px !important;

}

.table th:last-child {
   border-radius: 0 10px 10px 0 !important;
}

.table td {
   vertical-align: middle !important;
   border-top: 0px !important;
}

.table td .primeira-coluna {
   border-radius: 1rem 0 0 1rem !important;
   border: transparent !important;
}

.table td .ultima-coluna {
   border-radius: 0 1rem 1rem 0 !important;
   border: transparent !important;
}

.btn-icon-action-small-black {
   color: #000000 !important;	
   font-size: larger !important;   
   cursor: pointer !important;
   opacity: 30% !important;
}

.btn-icon-action-small-black:hover {
   color: #000000 !important;
   font-size: larger !important;
   cursor: pointer !important;
   opacity: 100% !important;
   -moz-transform: scale(1.1) !important;
   -webkit-transform: scale(1.1) !important;
   transform: scale(1.3) !important;	
}

.btn-icon-action-save {
   color: #000000 !important;
   font-size: larger !important;
   cursor: pointer !important;    
}

.btn-icon-action-save:hover {
   color: #0e6103 !important;  
   font-size:  x-large !important;
}

.btn-icon-action-cancel {
   color: #000000 !important;
   font-size: larger !important;
   cursor: pointer !important;    
}

.btn-icon-action-cancel:hover {
   color: #a94442 !important;  
   font-size:  x-large !important;
}

.fluig-style-guide .switch.switch-labels .switch-button:before {    
   content: 'N\00C3O' !important;    
}

.fluig-style-guide .switch.switch-labels .switch-input:checked+.switch-button:before {    
   content: 'SIM' !important;
}

.fluig-style-guide .switch-green-gradient>.switch-input:checked+.switch-button {
   transition: .3s;
   background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.fluig-style-guide .pagination>.disabled>a {
   background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
   color: #fff !important;
   border:none;
   border-radius: 0.5em !important;
}
 
.paginate_button >a {	
   border:none !important;
   color: #ffffff !important;
   background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
   border-radius: 0.5em !important;
   
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
   padding:0px;
}

div.dataTables_paginate li.previous a:before {
   content: "";
}

div.dataTables_paginate li.next a:after {
   content: "";    
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
   padding:0px !important;
}

@media (min-width: 800px) {
   .div-buttons-col {
      padding: 0px !important;
   }
}

@media (min-width: 800px) {
   .div-buttons-col {
       margin-left: 0.8rem !important;
   }
   .div-buttons-ptam-col {
       margin-left: 0.8rem !important;
   }
.div-buttons-col-itens{
       margin-left: 1rem !important;
   }
}
@media (min-width: 1000px) {
   .div-buttons-col {
       margin-left: 2rem !important;
   }
   .div-buttons-ptam-col {
       margin-left: 1rem !important;
   }
   
}
@media (min-width: 1150px) {
   .div-buttons-col {
       margin-left: 2rem !important;
    }
   .div-buttons-ptam-col {
       margin-left: 2.3rem !important;
    }
    .div-buttons-col-itens{
       margin-left: 1.5rem !important;    
   }
}

@media (min-width: 1300px) {
   .div-buttons-col {
       margin-left: 2.5rem !important;
   }
   .div-buttons-ptam-col {
       margin-left: 2.8rem !important;
   }
   .div-buttons-col-itens{
       margin-left: 1.5rem !important;
   }
}

@media (min-width: 1500px) {
   .div-buttons-col {
       margin-left: 3rem !important;
   }
   .div-buttons-ptam-col {
       margin-left: 3.8rem !important;
   }
 .div-buttons-col-itens{
       margin-left: 2.2rem !important;    
   }
}

@media (min-width: 1700px) {       
   .div-buttons-ptam-col {
       margin-left: 4.5rem !important;
   }       
}

@media (min-width: 1800px) {
   .div-buttons-col {
       margin-left: 4.5rem !important;
   }    
   .div-buttons-ptam-col {
       margin-left: 5.3rem !important;
   }    
  .div-buttons-col-itens{
       margin-left: 2.5rem !important;    
   }
}

@media (min-width: 1900px) {
   .div-buttons-col {
       margin-left: 4.9rem !important;
   }
}

.input-unidade-orcamento {
   max-width: 6rem;
   text-align: center;
}

.list-view li.active {
   background-color: #fef6dd;
}

.painel-collapse-orcamentos {
   padding: 1rem;
   overflow: scroll;
   height: calc(100vh - 404px) !important;
}

div.panel.panel-default.unidades > div.panel-heading.separator > div.panel-title > a > p > span.text-success > i {
   color: #3ABD81
}

div.panel.panel-default.unidades > div.panel-heading.separator > div.panel-title > a.selecionado > p > span.text-muted >i.fa-circle-o,
div.panel.panel-default.unidades > div.panel-heading.separator > div.panel-title > a:not(.selecionado) > p > span.text-success > i.fa-check-circle {
    display: none
}

div.panel.panel-default.unidades > div.panel-heading.separator {
   padding-bottom: 0px;
}

select[name="tbFornecedores_length"] {
   width: 3.5rem !important;
}

div[data-back-to-top] {
   bottom: 0px !important;
}

#tbFornecedores_filter {
   color:transparent !important;
}

#tbFornecedores_length {
   color:transparent !important;
}

@media screen and (max-width: 800px) {
   table {
     border: 0 !important;
   }
 
   table caption {
     font-size: 1.3em !important;
   }
   
   table thead {
     border: none !important;
     clip: rect(0 0 0 0) !important;
     height: 1px !important;
     margin: -1px !important;
     overflow: hidden !important;
     padding: 0 !important;
     position: absolute !important;
     width: 1px !important;
   }
   
   table tr {
     border-bottom: 3px solid #ddd !important;
     display: block !important;
     margin-bottom: .625em !important;
     text-align: left !important;
   }
   
   table td {
     border-bottom: 1px solid #ddd !important;
     display: block !important;
     font-size: .8em !important;
     text-align: right !important;
   }
   
   table td::before {
     /*
     * aria-label has no advantage, it won't be read inside a table
     content: attr(aria-label) !important;
     */
     content: attr(data-label) !important;
     float: left !important;
     font-weight: bold !important;
     text-transform: uppercase !important;
   }
   
   table td:last-child {
      border-bottom: solid #8c8888 !important;
   }

   #tbFornecedores td:nth-of-type(1):before { content: "ID" !important; }
   #tbFornecedores td:nth-of-type(2):before { content: "NOME" !important; }
   #tbFornecedores td:nth-of-type(3):before { content: "CNPJ" !important; }
   #tbFornecedores td:nth-of-type(4):before { content: "ATIVO" !important; }
   #tbFornecedores td:nth-of-type(5):before { content: "AÇÕES" !important; }
 }